<% if flash[:alert] %>
    <div class="container p-1 text-center alert  alert-danger" role="alert">

        <p>Nous n'avons pas réussi à créer le potin !</p>

    </div>
<% end %>
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class= "text-center" style= "width : 500px">
        <h2>Nouveau potin</h2>
        <%= form_with url: "/gossip", method: :post do |f| %>
            <div class="m-3 ">
                <label>Titre</label>
                <%= f.text_field :title, class:'form-control'%>
            </div>
            <div class="m-3 ">
                <label>Contenu</label>
                <%= f.text_area :content, class:'form-control', style: "height: 200px"%>
            </div>
            <div class="">
                <button type="submit" class="btn btn-lg btn-primary mt-3">Poster</button>
            </div>
        <% end %>
    </div>
</div>